.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
_targets/
mq_data/
doc/*
!doc/*qmd
!doc/images
cache/
tab/
fig/
shiny/data/
for_manuscript/proteins_for_heatmaps*
for_manuscript/tables/
for_manuscript/final_version/
~$*